

p { 
    color: #534D56;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Amiri', serif;
    text-align: justify;
    width: 60%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Amiri', serif;
      
    color: #534D56;

}
h2{
    color:#1B998B;
}

.icons {
    color:#656176; 
}
.icons:hover {
    color:#DECDF5; 
    animation: shake;
}
ul {
    list-style-type: none;
    color: #534D56;
    margin: 0;
    padding:0;
}

body {
    background-color: #F8F1FF;
}