body {
    background-color: #F8F1FF;
}

header {
    width: 350px;
}

h1 {
width: 350px;
font-family: 'Amiri', serif;
color: #534D56;
letter-spacing: 5px;
margin-left: 20px;;
}

h2 {
    color:#1B998B;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Amiri', serif;
    text-align: justify;
    width: 60%;
}

p { 
    color: #534D56;
}

.icon-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 85%;
}

#icons {
    color:#656176;
}
#icons:hover {
    color:#DECDF5; 
}

ul {
    list-style-type: none;
    color: #534D56;
    margin: 0;
    padding:0;
}

#section-one {
    animation: fadeEffect 5s; 
 }
 
 @keyframes fadeEffect { 
    from {opacity: 0;}
    to {opacity: 1;}
 }


 #section-two {
    animation: fadeEffect 10s; 
 }
 
 @keyframes fadeEffect { 
    from {opacity: 0;}
    to {opacity: 1;}
 }

 #section-three {
    animation: fadeEffect 12s; 
 }
 
 @keyframes fadeEffect { 
    from {opacity: 0;}
    to {opacity: 1;}
 }

 #section-four {
    animation: fadeEffect 15s; 
 }
 
 @keyframes fadeEffect { 
    from {opacity: 0;}
    to {opacity: 1;}
 }

 #section-five {
    animation: fadeEffect 18s; 
 }
 
 @keyframes fadeEffect { 
    from {opacity: 0;}
    to {opacity: 1;}
 }